@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgba(238, 151, 255, 0.904);
    color:aliceblue;
}

.cabecalho{
    background-color: rgba(0, 225, 255, 0.452);
    text-align: center;
padding: 30px;
font-size: 30px;
    }

main{
    font-family: "Montserrat", sans-serif;
}
img{
    width: 800px;
    height: 400px;
}
main{
    color: white;
    max-width: 100vw;
    margin: 0 auto;
    padding:24px;
}
article{
    display: flex;
    background-color: rgb(111, 163, 241);
    align-items: center;
    padding: 24px;

}



button{

    background-color: rgb(255, 194, 245);
    color: chocolate;
    padding: 32px;
    border-radius: 20px;
    width: 150px;
}